{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {% block title-meta %}
   اطلاعات صندوق
{% endblock %} {% endblock %}

{% block main %}

<div class="col-md-12">
   <div class="card card-primary">
      <div class="card-header">
         <h3 class="card-title mb-0 float-left">درج یا بروزرسانی اطلاعات صندوق</h3>
      </div>
      <div class="card-body">
        <div class="col-md-12">
            <div class="card card-primary">
               <div class="card-blue">
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.slug|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.content|as_crispy_field }}
                            </div>

                            <div class="col-6">
                                {{ form.publish|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.status|as_crispy_field }}
                            </div>
                            {% if user.is_superuser %}
                                <div class="col-4">
                                    {{ form.managerAccept|as_crispy_field }}
                                </div>
                                <div class="col-4">
                                    {{ form.author|as_crispy_field }}
                                </div>
                            {% endif %}
                        </div>
                        <button class="btn btn-success">ارسال اطلاعات به سایت</button>
                    </form>
               </div>
            </div>
        </div>
      </div>
   </div>
</div>
{% endblock %}