{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {% block title-meta %}
    لیست آدرس سایت های مفید
{% endblock %} {% endblock %}

{% block main %}

<div class="col-md-12">
   <div class="card card-primary">
      <div class="card-header">
         <h3 class="card-title mb-0 float-left">افزودن آدرس سایت جدید</h3>
      </div>
      <div class="card-body">
        <div class="col-md-12">
            <div class="card card-primary">
               <div class="card-blue">
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.slug|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.address|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.publish|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.status|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.author|as_crispy_field }}
                            </div>
                        </div>
                        <button class="btn btn-success"> ارسال به سایت </button>
                        <button class="btn btn-primary"><a href="{% url 'account:LinkList' %}" style="color: white;">انصراف</a> </button>

                        {% if user.is_superuser and request.resolver_match.kwargs.pk %}
                            <a href="{% url 'account:LinkListDelete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف</a>
                        {% endif %}
                    </form>
               </div>
            </div>
        </div>
      </div>
   </div>
</div>
{% endblock %}