{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %} {% block title-meta %}
    حذف آدرس سایت
{% endblock %} {% endblock %}

{% block main %}

<div class="col-md-8 text-center mx-auto">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left" style="font-family: 'BTitrBold',sans-serif ;font-size: 18px;"> حذف آدرس سایت</h3>
      </div>

       <div class="card-body py-4">
           <form method="post">{% csrf_token %}
               <p class="py-2"> آیا از  حذف آدرس سایت  « {{ object }} »  مطمئن هستید؟</p>
               <input type="submit" value="حذف شود" class="btn btn-danger">

               <a class="btn btn-primary" href="{% url 'account:news' %}">انصراف</a>
            </form>
       </div>
    </div>
</div>
{% endblock %}
