{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} {% block title-meta %}
    تغییر رمز ورود
{% endblock %} {% endblock %}

{% block main %}

<div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">تغییر رمز ورود</h3>
      </div>
       <div class="card-body">
            <form method="post"> {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ form.old_password|as_crispy_field }}
                    </div>
                    <div class="col-6"></div> {# برای نمایش در سطح پایین تر #}
                    <div class="col-6">
                        {{ form.new_password1|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.new_password2|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-danger">تغییر رمز ورود</button>
            </form>
       </div>
    </div>
</div>
{% endblock %}
